.cardImage {
    width: 39%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    border-radius: 9px;
    background-color: darkblue;
}
  
.containerImage {
    text-align: center;
    padding: 15px 20px;
    background-color: darkblue;
    color: white;
}