.titleMyProjects {
    text-align: center;
}

.unauthorizedMessageMyProjects {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    text-align:center;
}

.flex-inside-searcher-my-proj {
    margin-bottom: 2vh;
    margin-left: 10vw;
    margin-top: 2vh;
}


