.titleMyProjects {
    margin-bottom: 4vh;
    text-align: center;
    color: darkblue;
}

.unauthorizedMessageMyProjects {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    text-align:center;
}

.flex-my-projects {
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.flex-inside-button-postulate-my-proj {
    margin-bottom: 5vh;
}

.flex-inside-searcher-my-proj {
    margin-bottom: 70px;
}

.grid-container-my-proj {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.flex-inside-my-projects {
    margin-bottom: 30px;
}

