.title-projects {
    text-align: left;
    padding-left: 0vw;
    color: black;
    font-size: 4vh;
    margin-bottom: 0vh;
}

.message-not-projects {
    margin-top: 0vh;
    color: black;
    padding-left: 2vw;
}