.button-postulate-project {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2vh;
}

.button-postulate-project:hover {
    background-color: white;
    color: #0353a4;
    border: 1px solid 0353a4;
}

.button-postulate-project:active{
    color: black;
    background-color:  lightblue;
}