.flex-project-show {
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    }

.rowImageAndDescription {
    display: flex;
    flex-direction:row;
}

.title-finance-project {
    margin-top: 15vh;
}

.title-show-project {
    margin-bottom: 5vh;
}

.line {
    background-color: black;
}

