.flex-project-show {
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    }

.rowImageAndDescription {
    display: flex;
    flex-direction:row;
}

.titleProjectShow {
    margin-bottom: 4vh;
    text-align: left;
    color: darkblue;
}



