.grid-container-users {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
}

.flex-users {
    flex-direction: column;
}

.flex-inside-users {
    margin-bottom: 30px;
    width: 70%;
    margin-left: 10vw;
}