.flex {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    }

.rowImageAndDescription {
    display: flex;
    flex-direction:row;
}
