.title-login-user {
    padding-bottom: 2vh;
    padding-top: 5vh;
    text-align: left;
    color: darkblue;
    margin-left: 4vh;
    margin-bottom: 1vh;
    font-size: 3vw;
}

.card-profile-login-form {
    width: 50%;
    height: 60%;
    background-color: rgba(131, 191, 226, 0.87);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0.5vh;
    border-radius: 8px;
    padding-top: 2vh;
    text-align: left;
    color: darkblue;
    border-style: solid;
    border-color: darkblue;
    border-width: 3px;
}

.label-form-login {
    margin-left: 4vh;
    margin-right: 2vh;
    margin-top: 2vh;
    font-size: 2.5vw; 
}

.label-form-login p {
    overflow: scroll;
    font-size: 2.5vw;
}

.label-content {
   font-size: 2.5vw;
}
/*
.button-submit-login-user {

     margin-top: 4vh;
    margin-left: 6vh;
}
*/
.icon-width { width: 5vw; }