.descriptionOfProject {
    width: 100%;
    height: auto;
    background-color: rgba(131, 191, 226, 0.87);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    border-radius: 8px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: left;
    color: darkblue;
}


  