.titleLandingPage {
    margin-bottom: 4vh;
    text-align: center;
    color: darkblue;
}

.flex-landing-page {
    flex-direction: column;
}

.flex-inside-button-postulate {
    margin-bottom: 5vh;
}

.flex-inside-searcher {
    margin-bottom: 2vh;
    margin-left: 10vw;
    margin-top: 2vh;
}

.grid-container-landing {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
}

.flex-inside-landing {
    margin-bottom: 30px;
    width: 70%;
    margin-left: 10vw;
}





/* .button-back-landing {
    margin-bottom: 5vh;
    background-color: darkblue;
}

.button-back-landing:hover {
    background-color: white;
    color: #0353a4;
    border: 1px solid 0353a4;
}

.button-back-landing:active{
    color: black;
    background-color:  lightblue;
} */






