

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
background-color: #2196F3;
padding: 10px;
}

/* .grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
} */

.flex {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 40px;
}

.flex-inside {
    margin-bottom: 30px;
}

.flex-inside-searcher {
    margin-bottom: 70px;
}

